<h2 class="page-header">Consultar Disponibilidad</h2>

<form method="post" action="/consultarDisponibilidad/consultarDisponibilidad">
   
        <nav>
          <ul class="nav nav-pills pull-left">
            
          </ul>
          
        </nav>
        
</form>